#breadcrumb-dPeta{
    position:relative;
    float:left;
    right:0;
    top:0
}

.img-dPeta{
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
    width: 300px
}

#scrollx{
    overflow-x: scroll;
}

.tCenter{
    text-align: center;
}

table > tr > td .tKetDetail{
    text-align: right;
    width: 20%
}

table > tr > td .tKetHeader{
    background-color: darkgrey;
    text-align: right;
    width: 20%;
}

.tCompare{
    border-bottom: 1px solid darkgrey;
    border-top: 1px solid darkgrey;
    line-height: 3;
    margin-top: 10px;
    margin-bottom: 20px;
}

.imgCompare{
    padding: 5px;
    margin-top: 5px;
}

.lockscreen-wrapper {
    margin: 5% auto 0px;
    max-width: 600px;
}

/*transition style form input data induk*/
.reveal-if-active {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    font-size: 16px;
    -webkit-transform: scale(0.8);
          transform: scale(0.8);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-top: 20px;
}
.reveal-if-active label {
    display: block;
    margin: 0 0 3px 0;
}
.reveal-if-active input[type=text] {
    width: 100%;
}
input[type="radio"]:checked ~ .reveal-if-active, input[type="checkbox"]:checked ~ .reveal-if-active {
    opacity: 1;
    max-height: 400px;
    padding: 10px 20px;
    -webkit-transform: scale(1);
          transform: scale(1);
    overflow: visible;
}


label{
    font-weight: 500;
}